body {
   background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
   padding: 20px;
   font-family: sans-serif;
}

.menu {
    background-color: burlywood;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;  
    padding: 20px;
}

h1, h2, p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 10px;
}

.item p {
    display: inline-block;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.coffee, .dessert {
    width: 75%;
    text-align: left;
}

.price {
    width: 24%;
    text-align: right;
}

h1, h2 {
    font-family: Impact, sans-serif;
}

h1 {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

footer {
    font-size: 14px;
}

a {
    color: black;
}

a:visited {
    color: black; 
}

a:hover {
    color: brown;
}

a:active {
    color: white;
}

.bottom-line {
    margin-top: 25px;
}

.address {
    margin-bottom: 5px;
}



